__pycache__/
*.pyc
*.pyo
*.pt
*.pth
*.pyd
*.swp
.env
.venv/
venv/
.idea/
.vscode/
Data/
extra_datasets/
mri-det-env/
plots/
.git/
.gitignore
logs/
Checkpoints/*        # keep empty dir in image; mount at runtime
!Checkpoints/.gitkeep